<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Demo Application</title>
    <link rel="stylesheet" href="/css/styles.css">

</head>
<body>
<header>
    <h1>Welcome to the Demo Application</h1>
</header>
<main>
    <button onclick="location.href='/register'">Đăng ký</button>
    <button onclick="location.href='/login'">Đăng nhập</button>

    <button onclick="location.href='/admin'">Admin</button>
    <button onclick="location.href='/songs'">Explore Now</button>

    <button onclick="location.href='/upload'">Upload</button>
    <button onclick="location.href='/media'">Media</button>
</main>
<script src="/js/scripts.js"></script>
</body>
</html>