<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/styles.css">
  <title>Song Added</title>
</head>
<body>
<h1>Song Added Successfully</h1>
<p>Song Name: <span th:text="${name}"></span></p>
<p>Author: <span th:text="${author}"></span></p>
<p>Song Link: <span th:text="${link}"></span></p>
<p>Cover Image Link: <span th:text="${cover}"></span></p>
<button onclick="location.href='/admin'">Add Another Song</button>
<button onclick="location.href='/'">Home</button>
</body>
</html>